body {font-family: Arial;}

.profilepic {
    max-width:150px;
    margin:10px;
}
#leftmenu {
    position: fixed;
    left: 0px;
    top: 0px;
    max-width: 230px;
}
#content {
    width: 70%;
    margin-left: 230px;
}
div#header {
    padding: 0px;
    width: 70%;
    margin-left: 230px;
    background-color: black;
    color: white;
}

.profileDescription {display:inline-block;margin:10px;}
     .navmenu {list-style-type: none; padding-left: 5px;}
     .navmenu li  {padding:3px 0; margin: 3px 0;border-radius: 8px;background-color: lightgray;}
     .navmenu a{text-decoration:none;padding:2px;font-weight: bold; color:black; margin-left:5px;display:inline-block;}
     .navmenu a:hover{color:red; }
     .navmenu .navsubmenu{display:none;list-style-type: none;font-size:smaller;}
     .navmenu li:hover .navsubmenu{display:block;}
     /*.publist li:nth-child(odd) { background-color: #EAEAEA;}
     .publist li:nth-child(even) { background-color: #F8F8F8;}*/
     .publist li {padding-bottom: 8px;}
     .publist li:hover {background-color: #EEE;}
   

